.grid-tile {
  padding: 0;
  margin: 0;
  /*height: 2em;
  width: 2em;*/
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.grid-tile.blocked {
  background-color: grey;
}
